@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');   /*Nova Mono*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');  /*Bebas Neue*/

/* For para */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content_holder{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-inline: 20px;
}

.content_holder h1{
  font-family: 'Bebas Neue', cursive;
  /* font-family: 'Nova Mono', monospace; */
  color: white;
  text-align: center;
  width: 90%;
  font-size: 3.9rem;
}


.content_holder p{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1rem;
}

.contents{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.content{
  width: 45%;
  height:70%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 10px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 40px;
}

.right_content{
  width: 40%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

.tron img{
  width: 400px;
  height: 340px;
  /* margin-top: -20px; */
}

.button{
  margin-top: 30px;
}

.button button{
  border: 1px solid red;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 1.4rem;
  background-color: #E82A2F;
  border-radius: 10px;
  cursor: pointer;
  /* margin-top:10px; */
}

.content .box{
  margin-inline: auto;
}

.box img{
  border: 3px solid white;
  border-radius: 40px;
  width: 270px;
  height: 200px;
  object-fit: cover;
  
}

@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}

.bounce {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}